/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

input[type=text]:focus, input[type=button]:focus{
  outline: none;
}

/* style */

html {
  background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52cd96f512830_1.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
  min-width: 480px;
}

a {
  text-decoration: none;
}

.box-shadow{
  box-shadow:2px 4px 8px hsla(0,0%,0%,.5);
}

.hidden{
  display: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/*Input Area*/
.get-task{
  position: relative;
  top: 70px;
  text-align: center;
}
/*Title*/
h1{
  padding: 30px 0;
  font-size: 1.25em;
  letter-spacing: 7px;
  text-transform: uppercase;
}
/*Input text box*/
input[type=text]{
  background: none;
  font-size: 1em;
  width: 300px;
  color: white;
  text-align: center;
  border: solid 1px white;
  padding:5px;
}

/*Submit button*/
input[type=submit]{
  position: relative;
  top: 6px;
  font-size: 2em;
  border: none;
  background: none;
  border-radius: 100%;
  color: #fff;
  font-weight: 700;
}

input[type=submit]:active{
  -webkit-box-shadow: inset 2px 2px 1px #242424;
  -moz-box-shadow: inset 2px 2px 1px #242424;
  box-shadow: inset 2px 2px 1px #242424;
}

/*Task Area*/
ol{
  margin:95px auto;
  text-align: center;
}

li{
  margin: 10px auto;
  max-width: 500px;
  min-width: 400px;
}

.task, .button{
  padding: 10px;
}

.task{
  position: relative;
  color: #000;
  background: #fff;
  margin: 10px auto;
  clear: right;
  cursor:pointer;
}

.button{
  float: right;
  width: 20px;
  text-align:center;
  margin-bottom: 10px;
  cursor:pointer;
}

.completed{
  background: #22B545;
}

.remove{
  background: red;
  margin-right: 5px;
}

.completed-effect{
  opacity: 0.4;
}
